/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments";
import * as core from "../../../../core";
import * as MarkupAI from "../../../index";
import * as fs from "fs";
import { Blob } from "buffer";
import urlJoin from "url-join";
import * as errors from "../../../../errors/index";

export declare namespace StyleChecks {
    export interface Options {
        environment?: core.Supplier<environments.MarkupAIEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token: core.Supplier<core.BearerToken>;
        fetcher?: core.FetchFunction;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

/**
 * Analyze your content to spot issues that go against your style guide or brand voice. Use this to catch tone, grammar, or readability problems before publishing.
 */
export class StyleChecks {
    constructor(protected readonly _options: StyleChecks.Options) {}

    /**
     * Start a style and brand check workflow. Returns a workflow ID to use for polling results.
     *
     * @param {File | fs.ReadStream | Blob} file_upload
     * @param {MarkupAI.StyleChecksCreateStyleCheckRequest} request
     * @param {StyleChecks.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MarkupAI.ContentTooLargeError}
     * @throws {@link MarkupAI.UnprocessableEntityError}
     * @throws {@link MarkupAI.InternalServerError}
     *
     * @example
     *     await client.styleChecks.createStyleCheck(fs.createReadStream("/path/to/your/file"), {
     *         dialect: "american_english",
     *         tone: "academic",
     *         style_guide: "style_guide"
     *     })
     */
    public createStyleCheck(
        file_upload: File | fs.ReadStream | Blob,
        request: MarkupAI.StyleChecksCreateStyleCheckRequest,
        requestOptions?: StyleChecks.RequestOptions,
    ): core.HttpResponsePromise<MarkupAI.WorkflowResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createStyleCheck(file_upload, request, requestOptions));
    }

    private async __createStyleCheck(
        file_upload: File | fs.ReadStream | Blob,
        request: MarkupAI.StyleChecksCreateStyleCheckRequest,
        requestOptions?: StyleChecks.RequestOptions,
    ): Promise<core.WithRawResponse<MarkupAI.WorkflowResponse>> {
        const _request = await core.newFormData();
        await _request.appendFile("file_upload", file_upload);
        _request.append("dialect", request.dialect);
        _request.append("tone", request.tone);
        _request.append("style_guide", request.style_guide);
        if (request.webhook_url != null) {
            _request.append("webhook_url", request.webhook_url);
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MarkupAIEnvironment.Production,
                "v1/style/checks",
            ),
            method: "POST",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "markup-ai-api",
                "X-Fern-SDK-Version": "0.0.5",
                "User-Agent": "markup-ai-api/0.0.5",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ..._maybeEncodedRequest.headers,
                ...requestOptions?.headers,
            },
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as MarkupAI.WorkflowResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 413:
                    throw new MarkupAI.ContentTooLargeError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new MarkupAI.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new MarkupAI.InternalServerError(
                        _response.error.body as MarkupAI.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MarkupAIError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.MarkupAIError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.MarkupAITimeoutError("Timeout exceeded when calling POST /v1/style/checks.");
            case "unknown":
                throw new errors.MarkupAIError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Retrieve the results of a style and brand check workflow. Returns `running` or `complete` status.
     *
     * @param {string} workflowId
     * @param {StyleChecks.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MarkupAI.NotFoundError}
     * @throws {@link MarkupAI.UnprocessableEntityError}
     * @throws {@link MarkupAI.InternalServerError}
     *
     * @example
     *     await client.styleChecks.getStyleCheck("workflow_id")
     */
    public getStyleCheck(
        workflowId: string,
        requestOptions?: StyleChecks.RequestOptions,
    ): core.HttpResponsePromise<MarkupAI.StyleCheckResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getStyleCheck(workflowId, requestOptions));
    }

    private async __getStyleCheck(
        workflowId: string,
        requestOptions?: StyleChecks.RequestOptions,
    ): Promise<core.WithRawResponse<MarkupAI.StyleCheckResponse>> {
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MarkupAIEnvironment.Production,
                `v1/style/checks/${encodeURIComponent(workflowId)}`,
            ),
            method: "GET",
            headers: {
                Authorization: await this._getAuthorizationHeader(),
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "markup-ai-api",
                "X-Fern-SDK-Version": "0.0.5",
                "User-Agent": "markup-ai-api/0.0.5",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as MarkupAI.StyleCheckResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new MarkupAI.NotFoundError(
                        _response.error.body as MarkupAI.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new MarkupAI.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new MarkupAI.InternalServerError(
                        _response.error.body as MarkupAI.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MarkupAIError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.MarkupAIError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.MarkupAITimeoutError(
                    "Timeout exceeded when calling GET /v1/style/checks/{workflow_id}.",
                );
            case "unknown":
                throw new errors.MarkupAIError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getAuthorizationHeader(): Promise<string> {
        return `Bearer ${await core.Supplier.get(this._options.token)}`;
    }
}
