/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as MarkupAI from "../../../index.js";
import * as fs from "fs";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace StyleRewrites {
    export interface Options {
        environment?: core.Supplier<environments.MarkupAIEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        token: core.Supplier<core.BearerToken>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
        fetcher?: core.FetchFunction;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | null | undefined> | null | undefined>;
    }
}

/**
 * Includes all information from style suggestions, plus a rewrite of the text.
 */
export class StyleRewrites {
    protected readonly _options: StyleRewrites.Options;

    constructor(_options: StyleRewrites.Options) {
        this._options = _options;
    }

    /**
     * Rewrite text with style corrections applied.
     *
     * @param {MarkupAI.CreateStyleRewriteV1StyleRewritesPostRequest} request
     * @param {StyleRewrites.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MarkupAI.UnauthorizedError}
     * @throws {@link MarkupAI.ForbiddenError}
     * @throws {@link MarkupAI.ContentTooLargeError}
     * @throws {@link MarkupAI.UnprocessableEntityError}
     * @throws {@link MarkupAI.InternalServerError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.styleRewrites.createStyleRewrite({
     *         file_upload: fs.createReadStream("/path/to/your/file"),
     *         dialect: "american_english",
     *         style_guide: "style_guide"
     *     })
     */
    public createStyleRewrite(
        request: MarkupAI.CreateStyleRewriteV1StyleRewritesPostRequest,
        requestOptions?: StyleRewrites.RequestOptions,
    ): core.HttpResponsePromise<MarkupAI.WorkflowResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createStyleRewrite(request, requestOptions));
    }

    private async __createStyleRewrite(
        request: MarkupAI.CreateStyleRewriteV1StyleRewritesPostRequest,
        requestOptions?: StyleRewrites.RequestOptions,
    ): Promise<core.WithRawResponse<MarkupAI.WorkflowResponse>> {
        const _request = await core.newFormData();
        await _request.appendFile("file_upload", request.file_upload);
        _request.append("dialect", request.dialect);
        if (request.tone != null) {
            _request.append("tone", request.tone);
        }

        _request.append("style_guide", request.style_guide);
        if (request.webhook_url != null) {
            _request.append("webhook_url", request.webhook_url);
        }

        const _maybeEncodedRequest = await _request.getRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                Authorization: await this._getAuthorizationHeader(),
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MarkupAIEnvironment.Default,
                "v1/style/rewrites",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as MarkupAI.WorkflowResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new MarkupAI.UnauthorizedError(
                        _response.error.body as MarkupAI.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new MarkupAI.ForbiddenError(
                        _response.error.body as MarkupAI.ErrorResponse,
                        _response.rawResponse,
                    );
                case 413:
                    throw new MarkupAI.ContentTooLargeError(
                        _response.error.body as MarkupAI.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new MarkupAI.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new MarkupAI.InternalServerError(
                        _response.error.body as MarkupAI.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MarkupAIError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.MarkupAIError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.MarkupAITimeoutError("Timeout exceeded when calling POST /v1/style/rewrites.");
            case "unknown":
                throw new errors.MarkupAIError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Retrieve rewrite results.
     *
     * @param {string} workflowId
     * @param {StyleRewrites.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MarkupAI.UnauthorizedError}
     * @throws {@link MarkupAI.ForbiddenError}
     * @throws {@link MarkupAI.NotFoundError}
     * @throws {@link MarkupAI.UnprocessableEntityError}
     * @throws {@link MarkupAI.InternalServerError}
     *
     * @example
     *     await client.styleRewrites.getStyleRewrite("workflow_id")
     */
    public getStyleRewrite(
        workflowId: string,
        requestOptions?: StyleRewrites.RequestOptions,
    ): core.HttpResponsePromise<MarkupAI.RewriteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getStyleRewrite(workflowId, requestOptions));
    }

    private async __getStyleRewrite(
        workflowId: string,
        requestOptions?: StyleRewrites.RequestOptions,
    ): Promise<core.WithRawResponse<MarkupAI.RewriteResponse>> {
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MarkupAIEnvironment.Default,
                `v1/style/rewrites/${encodeURIComponent(workflowId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as MarkupAI.RewriteResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new MarkupAI.UnauthorizedError(
                        _response.error.body as MarkupAI.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new MarkupAI.ForbiddenError(
                        _response.error.body as MarkupAI.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new MarkupAI.NotFoundError(
                        _response.error.body as MarkupAI.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new MarkupAI.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new MarkupAI.InternalServerError(
                        _response.error.body as MarkupAI.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MarkupAIError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.MarkupAIError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.MarkupAITimeoutError(
                    "Timeout exceeded when calling GET /v1/style/rewrites/{workflow_id}.",
                );
            case "unknown":
                throw new errors.MarkupAIError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getAuthorizationHeader(): Promise<string> {
        return `Bearer ${await core.Supplier.get(this._options.token)}`;
    }
}
